apiVersion: apps/v1
kind: Deployment
metadata:
  name: study-app
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: study-app
  template:
    metadata:
      labels:
        app: study-app
    spec:
      containers:
      - name: study-app
        image: 743002303623.dkr.ecr.ap-south-1.amazonaws.com/study-ai:latest
        ports:
        - containerPort: 8501
        resources:
          limits:
            cpu: 500m
            memory: 768Mi
          requests:
            cpu: 250m
            memory: 384Mi
        livenessProbe:
          httpGet:
            path: /_stcore/health
            port: 8501
          initialDelaySeconds: 60
          periodSeconds: 15
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /_stcore/health
            port: 8501
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3
        env:
        - name: GROQ_API_KEY
          valueFrom:
            secretKeyRef:
              name: groq-api-secret
              key: GROQ_API_KEY
