apiVersion: apps/v1
kind: Deployment
metadata:
  name: study-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: study-app
  template:
    metadata:
      labels:
        app: study-app
    spec:
      containers:
      - name: study-app
        image: nasim/study-app:latest
        ports:
        - containerPort: 8501
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /_stcore/health
            port: 8501
          initialDelaySeconds: 10
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /_stcore/health
            port: 8501
          initialDelaySeconds: 5
          periodSeconds: 10
        env:
        - name: GROQ_API_KEY
          valueFrom:
            secretKeyRef:
              name: groq-api-secret
              key: GROQ_API_KEY
